body {
    font-family: sans-serif;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    background-size: 40px 40px;
    background-image: linear-gradient(0deg, transparent 24%, rgb(200, 200, 200) 25%, rgb(200, 200, 200) 26%, transparent 27%, transparent 74%, rgb(200, 200, 200) 75%, rgb(200, 200, 200) 76%, transparent 77%, transparent),linear-gradient(90deg, transparent 24%, rgb(200, 200, 200) 25%, rgb(200, 200, 200) 26%, transparent 27%, transparent 74%, rgb(200, 200, 200) 75%, rgb(200, 200, 200) 76%, transparent 77%, transparent);
}

body * {
    background-color: white;

}

form {
    background-color: unset;
    width: 650px;
}

fieldset {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

legend {
    border: 1px solid black;
    text-transform: lowercase;
    margin-left: 100px;
    padding:3px 20px 3px 5px;
}

div {
    margin: 3px;
    width: 220px;
    justify-content: center;
}

button {
    width: 100px;
    margin: 10px;
}

textarea {
    height: 40px;
    resize: none;
}

p {
    margin-bottom: 5px;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

input, select, textarea, button {
    font-family: sans-serif;
    font-weight: lighter;
    outline: none;
    border: 1px solid black;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.horizontal {
    margin: 0;
    flex-direction: row;
}

.small-text {
    font-size: 13px;
}

.space-below {
    margin-bottom: 10px;
}
